//MOBILE 
.hero {
    padding: 118px 0;
    max-width: 100%;
    
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/studio/hero-mobile.jpg);
    background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    background-color: #C4C4C4;

    @media (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    background-image: url(../images/studio/hero-mobile@2x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

   &__title {
        margin-bottom: 30px;
      
        font-weight: 900;
        font-size: 26px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color:var(--additional-color);
      }
  }
  

  //TABLET
  @media screen and ( min-width: 481px){
    .hero {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/studio/hero-tablet.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      @media (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/studio/hero-tablet@2x.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
  }   
  }
  }

  // //DESKTOP
  @media screen and ( min-width: 769px){
    .hero {
      padding: 200px 0;

      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/studio/hero-desktop.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;


      @media (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/studio/hero-desktop@2x.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
  }  
  &__title {
    font-size: 44px;
    line-height: 1.36;
     
  } 
  }
  }