.modal {
  &__backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);

    &--is-hidden {
      opacity: 0;
      pointer-events: none;
    }
  }

  position: absolute;
  padding: 40px;
  max-width: 450px;
  max-height: 609px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--additional-color);

  &__close-button {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 8px;
    right: 8px;

    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--additional-color);
    fill: #000000;
    transition: fill 250ms var(--timing-function);

    &:hover {
      fill: var(--accent-color);
    }
  }

  &__close-icon {
    width: 11px;
    height: 11px;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__title {
    display: block;
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-color);
  }

  &__field {
    display: block;
    position: relative;
    margin-bottom: 10px;
  }

  &__label {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--description-text-color);
  }

  &__input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;

    padding-left: 42px;

    transition: border-color 250ms var(--timing-function);

    &:focus {
      border-color: var(--accent-color);

      + .modal__icons {
        fill: var(--accent-color);
      }
    }
  }

  &__icons {
    position: absolute;
    bottom: 11px;
    left: 12px;

    width: 18px;
    height: 18px;
    fill: var(--primary-color);

    transition: fill 250ms var(--timing-function);
  }

  &__coment {
    display: block;
    margin-bottom: 20px;
    padding: 12px 16px;
    width: 100%;
    height: 120px;
    resize: none;
    outline: none;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color 250ms var(--timing-function);

    &:focus {
      border-color: var(--accent-color);
    }

    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.01em;

      color: rgba(117, 117, 117, 0.5);
    }
  }

  &__send-btn {
    &:hover,
    &:focus {
      background: #188ce8;
      cursor: pointer;
    }
  }
}

.policy {
  width: 100%;
  margin-bottom: 31px;

  &__label {
    position: relative;
    display: block;
    padding-left: 24px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--description-text-color);

    &::before {
      position: absolute;
      top: 0px;
      left: 0px;
      content: "";
      width: 16px;
      height: 15px;
      border: 2px solid var(--primary-color);
      border-radius: 2px;

      transition: all 250ms var(--timing-function);
    }
  }

  &__link {
    display: inline-block;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--accent-color);
  }
}

.policy__input:checked + .policy__label::before {
  background-color: var(--accent-color);
  background-image: url(/images/icon-check.svg);
  background-origin: border-box;
  background-size: 100%;
  background-position: center;
  border: none;
}

//DESKTOP
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }

  .policy {
    &__label {
      padding-left: 36px;
      font-size: 14px;
      line-height: 1.71;

      &::before {
        top: 4px;
        left: 12px;
      }
    }
  }
}
