.social-links {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 206px;
    height: 44px;

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
      }

    &__logo {
        display: block;
        width: 20px;
        height: 20px;
        
      }
  }
  