:root {
    --logo-color: #000000;
    --accent-color: #2196f3;
    --additional-color: #ffffff;
    --primary-color: #212121;
    --description-text-color: #757575;
    --main-font: Roboto, sans-serif;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1)
  }